/*цвет основного текста : rgba(117, 117, 117, 1) */

/*вторичный цвет: #212121 */

/*акцент: #2196F3 */

/*простой белый: #FFFFFF*/

/*фоновый серый: #2F303A*/

/*контакты футер: rgba(255, 255, 255, 0.6) */

:root {
    --primary-text-color: rgba(117, 117, 117, 1);
    --secondary-color: #212121;
    --accent-color: #2196F3;
    --simply-white: #FFFFFF;
    --fon-grey: #2F303A;
    --contacs-footer: rgba(255, 255, 255, 0.6);
    --simply-black: #000000;
    --btn-fon: rgba(245, 244, 250, 1);
}

.akcent {
        color: var(--accent-color);
    }
    
.akcent-two {
        color: var(--simply-white);
    }
    
.body {
    background-color: var(--simply-white);
    color: var(--primary-text-color);
    font-family: Roboto , sans-serif;
    letter-spacing: 0.03em;
}

.list {
    list-style: none;
}

.logo {
    color: var(--simply-black);
    font-family: 'Raleway';
    font-size: 26px;
    line-height: 1,19;
}

/*site-nav*/

.site-nav .link {
    color: var(--secondary-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1,14;
    letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.site-nav .link.current {
    color: var(--accent-color);
}

/*contacts*/

.contacts a:hover,
.contacts a:focus {
    color: var(--accent-color);
}

.tel-header {
  color: var(--primary-text-color);
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1,7;
}

.mail-header {
    color: var(--primary-text-color);
    font-family: inherit;
    font-weight: 400;
    font-size: 14px;
    line-height: 1,7;
}

/*hero*/

.hero {
    background-color: var(--fon-grey);
}

.hero-title {
    color: var(--simply-white);
    font-weight: 900;
    font-size: 44px;
    line-height: 1,36;
    text-align: center;
    letter-spacing: 0.06em;
}

.hero-btn {
    color: var(--simply-white);
    background: var(--accent-color);
    font-family: inherit;
}

/*features*/

.features-title {
    color: var(--secondary-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1,14;
}

.features-text {
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1,7;
}

.section-title {
    color: var(--secondary-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1,17;
    text-align: center;
}

.team-title {
    color: var(--secondary-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1,19;
}

.team-text {
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1,19;
}

/*footer*/

.footer {
    background-color: var(--fon-grey);
}

.address {
    font-style: normal;  
}

.location {
    color: var(--simply-white);
    font-weight: 400;
    font-size: 14px;
    line-height: 1,7;
}

.tel-footer {
    color: var(--contacs-footer);
    font-family: inherit;
    font-weight: 400;
    font-size: 14px;
    line-height: 1,7;
}

.mail-footer {
    color: var(--contacs-footer);
    font-family: inherit;
    font-weight: 400;
    font-size: 14px;
    line-height: 1,7;
}

/*filters*/

.filters-btn {
    color: var(--secondary-color);
    background-color: var(--simply-white);
    font-family: inherit;
}

.filters-btn-primary {
    color: var(--simply-white);
    background: var(--accent-color);
    font-family: inherit;
}

.filters-btn-secondary {
    color: var(--secondary-color);
    background: var(--btn-fon);
    font-family: inherit;
}

/*works list*/

.work-title {
    color: var(--secondary-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.work-text {
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1,9;
}